@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-primary-dark: var(--color-neutral-800);
  --color-primary-light: var(--color-neutral-100);
  --color-secondary-dark: var(--color-neutral-500);
  --color-secondary-light: var(--color-neutral-400);
}


